# Simula demora nas consultas de BD
SIMULATE_WAIT_IN_MS=0

# Tamanho máximo para upload de imagens em bytes
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600
# Nome da pasta onde as imagens são salvas após upload
IMAGE_UPLOAD_DIRECTORY=uploads
# URL completa do servidor de imagens sem barra final
IMAGE_SERVER_URL='YOUR_URL_LINK'

#Chave usada para assinar Tokens JWT
JWT_SECRET_KEY='YOUR_JWT_KEY'

#Tempo para o login expirar ( use o memso valor em seconds e string )
#EX: 3600 -> 1 hora, 600 -> 10 minuto, 60 -> 1 minuto, 86400 -> 1 dia
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_TRING='1d'

#Nome do cookie usado para login
LOGIN_COOKIE_NAME='loginSession'

#Nome de usuário = hash de senha em base64
LOGIN_USER='YOUR_USERNAME'
LOGIN_PASS='YOUR_PASSWORD_HASH'

#Permite ou não login ( 0 = Não / 1 = Sim)
ALLOW_LOGIN=0


